#detail_wrap{
    position: relative;
}
#detail_img{
    width:100%;
}
.detail_title{
    width:100%;
    height: 10%;
    font-size: .35rem;
    white-space: nowrap;
    position: absolute;
    bottom:5%;
    left:0;
    line-height: 1.1rem;
    padding-left: 6%;
    background: white;

}
#detail_price{
    width:100%;
    height: 10%;
    font-size: .35rem;
    white-space: nowrap;
    position: absolute;
    bottom:-5%;
    left:0;
    line-height: 1.1rem;
    text-align: center;
    color: #f36;
    background: white;
}