#cart_wrap{
    width:100%;
    height: 100%;
}
#cart_header {
    width:100%;
    height: 9%;

}
#cart_header>div{
    float: left;
    height: 100%;
}
#cart_header>div img{
    width:16%;
    height: 35%;
    margin-top: 24%;
    margin-left: 20%;
}
#cart_header_back{
    width:20%;
}
#cart_header_title{
    width:60%;
    text-align: center;
    font-size: .4rem;
    color: #666;
    line-height: 1.15rem;
}
#cart_header_home{
    width:20%;
    text-align: center;
    font-size: .4rem;
    line-height: 1.15rem;
}
#cart_header_home>a{
    color: #666;
}

#cart_main{
    background: #f4f4f4;
    width:100%;
    height: 91%;
    padding:0.1px;
}
#cart_main_empty{
    width:100%;
    height: 20%;
    margin-top: 15%;
    font-size: .3rem;
    text-align: center;
}
#cart_main_empty>div:last-child{
    width:100%;
    height: 50%;
    padding-top: 7%;
}
#cart_main_empty>div:last-child a{
    display: block;
    width:25%;
    height: 115%;
    background: #f66;
    margin:auto;
    color: white;
    line-height: .7rem;
    border-radius: 5%;
}

#cart_goodsList{
    /*width:100%;
    height:100%;*/
   
}
.car_tit{
	font-size:.24rem;
	font-weight:normal;
	width:3rem;
	overflow:hidden;
	/*white-space: nowrap;*/
	/*white-space:nowrap;*/
	text-overflow:ellipsis;	
}
.car_tit h5{
	text-overflow:ellipsis;
}
.car_tit>div{
	display:inline-block;
	border:1px solid #99999F;
}
.car_tit span{
	font-size:.4rem;
	display:inline-block;
	padding:.06rem .2rem;
	color:#99999F;
}
.car_tit .less{
	border-right:1px solid #99999F;
}
.car_tit .add{
	border-left:1px solid #99999F;
}
.car_price{
	font-size:.24rem;
	color: #f14b6c;
}
table tr{
	height:3rem;
	background:#fff;
	
}
table tr td:first-child{
	text-align:center;
}
table tr input{
	background:#007AFF;
	outline:none;
	border:0;
	width:.4rem;
	height:.4rem;
	
}
