<div id="cart_wrap">
    <div id="cart_header">
        <div id="cart_header_back"><a ui-sref="mine" href="" ng-click="changeColor4()"><img src="http://s17.mogucdn.com/p1/160922/idid_ie3wmnbvgftginzsmizdambqgayde_35x52.png"/></a></div>
        <div id="cart_header_title">购物车</div>
        <div id="cart_header_home"><a ui-sref="home" href="" ng-click="changeColor1()">首页</a></div>
    </div>
    <div id="cart_main">
        <div id="cart_main_empty">
            <div id="">
                <p>您的购物车还空着呢</p>
                <p>美物这么多，快去看看吧~</p>
            </div>
            <div><a ui-sref="home" href="">去逛逛</a></div>
        </div>
    </div>
</div>