<div id="yizhe">
	<div>
		<img src="https://s10.mogucdn.com/mlcdn/c45406/170419_181a5b11dibd6l27bkb2321gd0g3a_750x199.jpg_750x999.v1c7E.70.webp" alt="" />
	</div>
	<div class="module_row">
	
		<div class="sub_nav" ng-init="">
			<a href="" class="first_a"  ng-click="changebot(0,firstSale.list)" ><span ng-class="{'sub_a_act':isAct==0}">23日12点</span></a>
			<a href="" class="second_a" ng-click="changebot(1,secondSale.list)"><span ng-class="{'sub_a_act':isAct==1}">23日20点</span></a>
		</div>
		<div class="wall_wrap_bg">
			<div class="wall_wrap">
				<a href="" ng-repeat="item in productsShow" class="clearfix sub_item_box"> 
					<div class="poster_img">
						<img src="{{item.image}}" alt="" />
					</div>
					<div class="sub_goods_info">
						<p class="goods_title">{{item.title}}</p>
						<div class="price_box">
							<span class="gray_title">限时价</span>
							<span class="act_price">￥{{item.discountPrice}}</span>
							<span class="grey_price">原价<del>{{item.price}}</del></span>
						</div>
						<div class="bot_box">
							<span class="shenyu">仅剩{{item.itemInventory-item.itemSale}}件<span class="jindu_y jindu_color " ng-style="{width:{{(item.itemInventory-item.itemSale)/item.itemInventory}}+'rem'}"></span></span>
							
							<span class="buy_now">准点开抢</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
