<div id="mine_wrap">
    <div id="mine_header">
        <div id="mine_header_back"><a ui-sref="cart" href="" ng-click="changeColor3()"><img src="http://s17.mogucdn.com/p1/160922/idid_ie3wmnbvgftginzsmizdambqgayde_35x52.png"/></a></div>
        <div id="mine_header_title">个人中心</div>
        <div id="mine_header_out"><a ui-sref="home" href="" ng-click="changeColor1()">退出</a></div>
    </div>
    <div id="mine_main">
        <div id="mine_user_info">
            <div id="mine_user_pic"><img src="http://s2.mogucdn.com/new1/v1/bdefaultavatar/06.jpg"/></div>
            <div id="mine_user_name">美丽三人组</div>
            <div id="mine_user_collect">
                <ul>
                    <li id="main_collect_goods">
                        <a href="">
                            <p class="">0</p>
                            <p>收藏的宝贝</p>
                        </a>
                    </li>
                    <li id="main_collect_shop">
                        <a href="">
                            <p>0</p>
                            <p>收藏的店铺</p>
                        </a>
                    </li>
                    <li id="main_collect_coupon">
                        <a href="">
                            <p id="mine_collect_icon1"></p>
                            <p>优惠券</p>
                        </a>
                    </li>
                    <li id="main_collect_path">
                        <a href="">
                            <p id="mine_collect_icon2"></p>
                            <p>收货地址</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mine_orderTab">
            <ul>
                <li ng-class="{true:'getRed1',false:'getWhite'}[isClassName11]" ng-click="changeColor11()" ui-sref=".mine_allOrder">
                    <p>全部订单</p>
                </li>
                <li ng-class="{true:'getRed2',false:'getWhite'}[isClassName22]" ng-click="changeColor22()" ui-sref=".mine_paying">
                    <p>待付款</p>
                </li>
                <li ng-class="{true:'getRed3',false:'getWhite'}[isClassName33]" ng-click="changeColor33()" ui-sref=".mine_getting">
                    <p>待收货</p>
                </li>
                <li ng-class="{true:'getRed4',false:'getWhite'}[isClassName44]" ng-click="changeColor44()" ui-sref=".mine_ave">
                    <p>待评价</p>
                </li>
            </ul>
        </div>
        <div id="mine_orderList" ui-view></div>
    </div>
</div>

