<div id="mine_wrap">
    <div id="mine_header">
        <div id="mine_header_back"><a ui-sref="cart" href="" ng-click="changeColor3()"><img src="http://s17.mogucdn.com/p1/160922/idid_ie3wmnbvgftginzsmizdambqgayde_35x52.png"/></a></div>
        <div id="mine_header_title">个人中心</div>
        <div id="mine_header_out"><a ui-sref="home" href="" ng-click="changeColor1()">退出</a></div>
    </div>
    <div id="mine_main">
        <div id="mine_user_info">
            <div id="mine_user_pic"><img src="http://s2.mogucdn.com/new1/v1/bdefaultavatar/06.jpg"/></div>
            <div id="mine_user_name">美丽三人组</div>
            <div id="mine_user_collect">
                <ul>
                    <li id="main_collect_goods">
                        <a ui-sref="" href="">
                            <p class="">0</p>
                            <p>收藏的宝贝</p>
                        </a>
                    </li>
                    <li id="main_collect_shop">
                        <a ui-sref="" href="">
                            <p>0</p>
                            <p>收藏的店铺</p>
                        </a>
                    </li>
                    <li id="main_collect_coupon">
                        <a ui-sref="" href="">
                            <p id="mine_collect_icon1"></p>
                            <p>优惠券</p>
                        </a>
                    </li>
                    <li id="main_collect_path">
                        <a ui-sref="" href="">
                            <p id="mine_collect_icon2"></p>
                            <p>收货地址</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
